body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); /* Mets une image de fond si tu en as une */
    background-size: cover;
    background-position: center;
    height: 80vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
}

ul {
    font-size: 1.1rem;
    line-height: 1.6;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact ul {
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}
